.common-btn{
    padding: 8px 12px;
    background-color: white;
    border: none;
    color: #9538E2;
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    font-size: 14px;
    margin: 15px 0;
}

.common-btn::after{
    content: "";
    position: absolute;
    height: 107%;
    width: 104%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom left, #DB60B0, #9538E2);
    z-index: -1;
    
}

.common-btn:hover{
    z-index: 0;
    color: white;
    cursor: pointer;
}